body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color:chartreuse;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*фон сайта*/
.intro {
    width: 100%;
    height: 100%;
    background: url("https://i.pinimg.com/originals/c9/71/ff/c971ffc55a0aad1862f0711879fae1eb.jpg") center no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    font-family:inherit;
    color:aqua;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color .2s linear;
    color:chartreuse;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: darkmagenta;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav_link:hover {
    color:black;
}
.nav-link:hover:after {
    display: block;
}
/*таблица и ячейки*/
table {
    font-family: sans-serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: yellow;
    color: antiquewhite;
    border: 16px solid grey;
    border-radius: 20px;
    box-sizing:content-box;
}
td {
    background: black;
    padding: 7px;
}
/*линия перед таблицей*/
.buf {
    font-size: 60px;
    font-weight: 700;
    border:30px;
}
/*цвета ячеек и текста в таблице*/
.head {
	background: aqua;
	color: black;
	cursor: pointer;
}
.green {
	background: green;
}
.red {
	background: red;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*Likes*/

.buttonForm {
	width: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button {
    width: 70px;
    height: 25px;
    background-color: blue;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.TextWindow{
    text-align: center;
    width: 100px;
    line-height: 28px;
    background:none transparent;
    border: none;
}

textarea:focus, input:focus {
    color: #0000ff;
}

